body {
	background-color: #FA9DD6;

	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;

	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

.main {
	background-color: rgba(255,255,255,0.7);
	border-radius: 20px;
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0 0 10px 10px black;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin: 0;
	text-shadow: 0 5px 10px red;
	font-family: 'Yatra One', cursive;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h3 {
	margin-bottom: 0;
}

h3:hover {
	cursor: pointer;
	text-decoration: underline;
}

img {
	display: block;
	margin: 0 auto;
	border: 5px solid black;
	border-radius: 25% 0% 25% 0%;
}

p,
ul,
ol {
	line-height: 1.6;
	list-style: none;
	padding-left: 0;
}

p {
	text-align: justify;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: red;
}

a:hover {
	color: black;
	text-decoration: underline;
}